@import '../node_modules/bootstrap/scss/bootstrap';
body{
   background-image: url("https://image.freepik.com/vector-gratis/fondo-ligero-azul-espacio-blanco-negro-direccion-flecha_33869-999.jpg"); 
   background-color: black;
   background-position: center;
   background-size: cover;

}