<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de usuario Virtual Wallet</title>
    
        <link rel="stylesheet" href="../../../assets/style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    </head>

    <body id="background1">
            <center>
        <div class="contenedor-registro m-5">
            <div class="col-12 m-auto">
                <form class="form-signin" [formGroup]="signOnForm">
                    <div class="col-12">
                        <h1 class="text-center mb-3">Registrate en ClipMoney!</h1>
                        <div class="espacio">
                    </div>
                    <div class="col-3">
                        <!-- Username -->
                        <h1>Ingresar E-mail</h1>
                        <label for="inputEmail" class="sr-only">E-mail</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" [formControl]="signOnForm.controls.name" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                   </div>
        
                    <div class="col-3">
                        <!-- Password-->
                        <label class="" for="password"><h1>Contraseña</h1></label>
                        <input type="password" class="form-control" [formControl]="signInForm.controls.password" placeholder="Ingrese su contraseña">
                    </div>
        
                    <div class="col-12">
                        <!-- Button -->
                        <button type="button" class="btn btn-primary form-control w-25 mt-3" (click)="signIn()">Aceptar</button>
                    </div>
                </form>
                <div class="col-12">
                    <a href="../login/login.component.html">¿Ya tenés una cuenta? ¡Inicia sesión acá!</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </center>
    </body>

</html>