
.app-head, .app-label {
  background-color: rgba(163, 166, 177, 0.603);
}

.app-debe {
  color: red;
}

.app-haber {
  color: green;
}

.form-select {
  border-radius: 2rem;
}

table {
  background-color: white;
}
