<app-navbar></app-navbar>
<div class="container-fluid px-0">
    <img src="../../../assets/images/cyber-securtiy-banner.jpg" class="img-fluid" alt="">
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-2 text-center">Ultimos Movimientos</h3>
            <div class="mr-5 ml-5 mt-5">
                <table class="table table-striped">
                    <thead class="app-head">
                        <tr>
                            <th scope="col">Tipo de movimiento</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movement of listLastTransfers | slice: (page - 1) * 10: page * 10">
                            <td *ngIf="movement.Transaction_type === 1">Deposito</td>
                            <td *ngIf="movement.Transaction_type === 2">Extracción</td>
                            <td *ngIf="movement.Transaction_type === 1002">Transferencia a terceros</td>
                            <td *ngIf="movement.Transaction_type === 1003">Transferencia de terceros</td>
                            <td [ngClass]="{'app-debe':(movement.Transaction_type === 2),'app-haber': movement.Transaction_type === 1 || movement.Transaction_type === 1003}">{{ ((movement.Transaction_type === 1 || movement.Transaction_type === 1003) ? '' : '-') + (movement.Amount |currency) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="totalMovements" [(page)]="page" [pageSize]="10">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="saldo">Saldo: ${{funds}}</p>
        </div>
    </div>
</div>